<!-- <h1 mat-dialog-title>Modifier le repas</h1>
<div mat-dialog-content>
    Choisir le repas voulu par le joueur
    <mat-form-field [style.width.%]="70">
        <mat-label>Sélectionne le repas souhaité</mat-label>
        <mat-select [(ngModel)]="joueur.formuleRepas" name="joueur.formuleRepas">
            <mat-option value="Sans formule">Sans formule</mat-option>
            <div *ngFor="let repas of repasVue">
                <mat-option value="{{repas.nom}}"> {{repas.nom}} </mat-option>
            </div>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button [mat-dialog-close]="createRepas" cdkFocusInitial>Ajouter</button>
</div> -->
