.material-symbols-outlined {
    color: rgb(200, 10, 10);
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 200,
    'opsz' 40,
}

th {
    text-align: center;
    color: white
  }
td {
  text-align: center;
  vertical-align: middle;
  background-color:	#E8EAF6;
}

.buttonCenter{
  text-align: center;
}

.espace{
  margin-top: 1em;
  margin-bottom: 1em;
}

.infoLibelle{
  font-weight: bold;
  color: #3F51B5;
  text-align: center;
}

.colored{
  font-weight: bold;
  color:#3F51B5;
}

.sizeCreateur{
  font-size: medium;
}

.mat-expansion-panel
{
  background-color:	#E8EAF6;
}

.headerRow {
  background-color: #3F51B5;
}

.colorButtonOuvrir{
  color: white;
  background-color: #FF4081;
}