.form-control:disabled{
    color: black;
  }

.buttonAdd {
  background-color: #FF4081;
  color: white;
}

.headerRow {
  background-color: #3F51B5;
}

th{
  text-align: center;
  color: white
}

.aligne{
  display: inline-block;
}

.espace{
  margin-top: 1em;
  margin-bottom: 1em;
}

.buttonCenter{
  text-align: center;
}

.mat-expansion-panel
{
  background-color:#E8EAF6;
}

.row{
  background-color: #E8EAF6
}