::-ms-reveal {
  display: none;
}

.espace{
    margin-top: 2em;
    margin-bottom: 1em;
  }

  #admin-actions-box {
    background-color: #fff;
    width: 80%;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

.coloredBlue{
  font-weight: bold;
  color:#3F51B5;
}

.mat-expansion-panel
{
  background-color:#D9DCF0
}

.buttonCenter{
  text-align: center;
}

.espaceBottom{
  margin-bottom: 1em;
}

.red{
  color: red;
}